/********** Structure **********/
.row {
    max-width: 100%;
    display:block;
    box-sizing: border-box;
}

.row:before, .row:after {
    content: ' ';
    display: table;
    clear: both;
}

.column {
    display: inline-block;
    box-sizing: border-box;
    padding:0.5em;
    float:left;
}

.column.column-100 {
    width: 100%;
}

.column.column-75 {
    width: 75%;
}

.column.column-50 {
    width: 50%;
}

.column.column-25 {
    width: 25%;
}


.column > .column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.column p {
    margin: 0 0 1em;
}

/*******************************/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#ui-datepicker-div {
    width: 480px;
    background: white;
    padding: 1em;
    border: 1px solid #ddd;
}

#timeHolder > a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    background: #00AF00;
    min-width: 6em;
    text-align: center;
    border-radius: 8px;
    margin: 3px 0;
    color: white;
}

#timeHolder > a:hover, #timeHolder > a.active {
    background: #016F01;
}

#nextStep, #prevStep {
    border-radius: 0;
    background-color: #00AF00;
}

#nextStep:hover, #prevStep:hover {
    background-color: #016F01;
}

#nextStep {
    float: right;
}

#prevStep {
    float: left;
}

#nextStep.hidden {
    display:none;
}